/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$medaqua:#60C6B4; 
$forestgreen:#254D46;
$medjgreen: #18332E;
$burnbrown: #AA7E70;
$barkbrown: #4A3730;
$raisinblack: #2B1F1B;
$snow: #FFF9F8;
$beige: #E7E1DF; 
$spanishgrey: #9B9796;
$floralwhite: #FFF6F4;
$darkbeige: #D1C9C7;
$darksilver: #756E6C;
$lightblush: #FFF3F7; 
$blushpink: #E9D3DA;
$sonicsilver: #7C7074;
$lightgrey: #7C7074;
$medgrey: #D6D6D6;
$silversand: #C3C3C2;
$steelgrey: #7D7E7C;
$charlgreen: #7D7E7C; 






