.about-contain{
 .aboutcontent{
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-areas: 
     "aboutlist about1"
     "about2 aboutdescrip";

     .abouttitle{
         justify-content: center;
     }

 }




    
}