.carousel{
    list-style: none;
    img{
        width: 12px;
        height: 12px;
        border:none;
        
    }
    display:flex;
    justify-content:center;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        
}
 
.herotxt{
    justify-content: center;
}

