/* =============
    Footer
============= */
footer{
        .mail{
            display: flex;
        justify-content: right ;
        }

        .priv{display: flex;
            justify-content: right ;
        }
        .rights{
            display: flex;
        justify-content: right ;
        }
    /*grid-template-columns: 50% 50%;
    grid-template-areas: 
    "phone mail"
    "social priv"; */
   
    
    background-color: $darkbeige;
    img{
        width:fit-content;
    }
}
