/* =============
    Header
============= */

header{
    background-color: $darkbeige;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". header .";
    
    .logo{
        width: fit-content;
    }
    .nav{
        display:flex;
        justify-content: end;
        padding-top: 8px;
        padding-right: 16px;
        .nav1, .nav2, .nav3, .nav4 {
            padding: 5px;
            padding-left: 30px;
            
        }
    }
    .content{
        display:grid;
        grid-template-columns: 20% auto;
        grid-template-areas:
        "logo nav"
    }


}
/*.container{
    
    img{
        display:grid;
        width: fit-content;
        margin-right: 50%;
        padding: none;
        

    }
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav1 nav2 nav3 nav4";
    margin-left: 50%; 
}
*/